@import "../../scss/main";

.profile_page_container {
    .nav-tabs {
        border: none ;

        .nav-link {
            font-family: "Manrope";
            font-size: 1.2rem ;
            font-weight: 400;
            color: $less-blue;

            &:hover {
                color: #fff;
                border: none ;
            }
        }

        .nav-link.active {
            background: inherit;
            color: #fff;
            border: none;
            border-bottom: 1px solid $blue;
        }
    }
}