@import "../../../../scss/main.scss";

.bonus_box {
	padding-top: 3.125rem;
	display: flex;
	flex-direction: column;

	.level_box {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.level_text_container {
			display: flex;
			flex-direction: column;
			align-items: center;

			.level_text {
				font-family: "Manrope";
				font-size: 20px;
				font-style: normal;
				font-weight: 400;

				@media (max-width: 1200px) {
					font-size: 1rem;
				}
			}
		}

		@media (max-width: 1200px) {
			width: 100%;
			margin: 0 auto !important;
		}
	}

	.progress_wrapper {
		.progress_bar_container {
			position: relative;
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;

			.progress_bar {
				margin: 0 auto;
				margin-top: 1.25rem;
				background-color: $dark-blue;
				border: 1px solid $blue;
				border-radius: 20px;
				width: 100%;
				height: 28px;
				max-width: 1000px;
			}

			.desktop_follower {
				position: absolute;
				top: 26px;
				z-index: 100;
			}

			.desktop_line {
				position: absolute;
				top: 10px;

				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.mobile_line_box {
				opacity: 0;

				position: absolute;
				bottom: 0;
				right: 150px;

				display: flex;
				flex-direction: column;

				@media (max-width: 767px) {
					opacity: 1;
				}
			}

			@media (max-width: 1200px) {
				max-width: 800px;
			}

			@media (max-width: 991px) {
				max-width: 650px;
			}
		}

		.mobile_follower {
			opacity: 0;

			position: absolute;
			top: 0;
			left: 70px;
			z-index: 100;

			display: flex;
			justify-content: center;
			align-items: center;

			.text {
				margin: 0;
				transform: rotate(90deg);
			}

			@media (max-width: 767px) {
				opacity: 1;
			}

			@media (max-width: 533px) {
				left: 30px;
			}

			@media (max-width: 488px) {
				left: -10px;
			}

			@media (max-width: 414px) {
				left: 0px;
			}

			@media (max-width: 365px) {
				left: -10px;
			}
		}
	}

	.sum_box {
		width: 100%;
		max-width: 800px;
		display: flex;
		justify-content: space-between;
		padding-top: 11rem;

		@media (max-width: 992px) {
			padding-top: 7rem;
		}

		@media (max-width: 767px) {
			flex-direction: column;
			padding-top: 1rem;
		}
	}
}

@media (max-width: 1200px) {
	.bonus_box {
		.level_box {
			.lvl_img {
				width: 150px;
				height: 140px;
			}
		}
	}
}

@media (max-width: 992px) {
	.bonus_box {
		.desktop_follower_img {
			width: 55px !important;
			height: 100px !important;
		}

		.level_box {
			.lvl_img {
				width: 115px;
				height: 110px;
			}
		}
	}
}

@media (max-width: 767px) {
	.bonus_box {
		position: relative;

		.level_box {
			flex-direction: column;

			.lvl_img {
				width: 85px;
				height: 65px;
			}
		}

		.progress_bar {
			position: absolute;
			bottom: 205px;
			right: 180px;
			width: 380px !important;

			transform: rotate(90deg);
			-moz-transform: rotate(90deg); /* Для Firefox */
			-ms-transform: rotate(90deg); /* Для IE */
			-webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
			-o-transform: rotate(90deg); /* Для Opera */
			transform: rotate(90deg);
		}

		.desktop_line {
			display: none !important;
		}

		.desktop_follower {
			.desktop_follower_img {
				display: none;
			}
		}
	}
}

@media (max-width: 577px) {
	.bonus_box {
		.mobile_line_box {
			right: 100px;
		}
	}
}

@media (max-width: 431px) {
	.bonus_box {
		.progress_bar {
			right: 100px;
		}

		.mobile_line_box {
			right: 50px !important;
		}
	}
}

@media (max-width: 360px) {
	.bonus_box {
		.progress_bar {
			right: 60px;
		}

		.mobile_line_box {
			right: 20px !important;
		}
	}
}
