@import "../../../../../scss/main";

.withdrawal_money_box {
	margin: 3rem 0;

	.withdrawal_money_item {
		width: 100%;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 3vw;

		padding: 0.3rem 0.5rem;
		background-color: $dark-blue;

		@media (max-width: 521px) {
		}

		.withdrawal_money_content {
			display: flex;
			align-items: center;
		}
	}
}
