// Colors

// linear
$linear: linear-gradient(226.36deg, #0066ff 14.98%, #0073de 51.82%, #1f66b9 85.02%);

// color
$light-blue: #a7c9fc;
$less-blue: #72aaff;
$blue: #0f5fd8;
$dark-blue: #0f0f2d;
$darker-blue: #040431;

$dark-grey: #c4c4c4;
$light-grey: #dcdcdc;
$grey: #6d7a92;

$dark-violet: #010122;

$dark: #000014;
$more-dark: #000010;

$green: #00dd66;

$special-yellow: #f5dd0a;

$input-border-color: #0a4eb4;
$input-placeholder-color: $input-border-color;
